<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manage Forms - Formify</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
   
   <nav class="navbar navbar-expand-lg sticky-top bg-primary navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="manage-forms.html">Formify</a>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         <li class="nav-item">
           <a class="nav-link active" href="#">Administrator</a>
         </li> 
         <li class="nav-item">
            <a href="index.html" class="btn bg-white text-primary ms-4">Logout</a>
         </li>
       </ul> 
      </div>
    </nav>

    <main>

      <div class="hero py-5 bg-light">
         <div class="container">
            <a href="create-form.html" class="btn btn-primary">
               Create Form
            </a>
         </div>
      </div>

      <div class="list-form py-5">
         <div class="container">
            <h6 class="mb-3">List Form</h6>

            <a href="detail-form.html" class="card card-default mb-3">
               <div class="card-body">
                  <h5 class="mb-1">Biodata - Web Tech Members</h5>
                  <small class="text-muted">@biodata (limit for 1 response)</small>
               </div>
            </a>

            <a href="detail-form.html" class="card card-default my-3">
               <div class="card-body">
                  <h5 class="mb-1">HTML Fundamental - Quiz</h5>
                  <small class="text-muted">@html-fundamental-quiz</small>
               </div>
            </a>

         </div>
      </div>
      
    </main>
   

    <script src="./js/bootstrap.js"></script>
    <script src="./js/popper.js"></script>
  </body>
</html>